<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keyhole</title>
    <link rel="stylesheet" href="./css/about.css" />
  </head>

  <body>
    <a href="homepage.html"><button class="home_but">HOME</button></a>
    <div id="particles-js"></div>
    <div class="main-container">
      <div class="card-container1">
        <span class="pro" onselectstart="return false">PRO</span>
        <img
          class="round"
          src="./image/dp_ankit.jpeg"
          alt="user"
          width="127px"
          height="128px"
        />
        <h3>Ankit Aayush</h3>
        <h6>Ranchi</h6>
        <p>
          Competitive Programmer and <br />
          back-end developer
        </p>
        <div class="buttons">
          <a href="https://in.linkedin.com/in/ankit-aayush-128a83206">
            <button class="primary1">Hire</button></a
          >
          <button class="primary1 ghost1">Message</button>
        </div>
        <div class="skills" onselectstart="return false">
          <h6>Skills</h6>
          <ul>
            <li>C++</li>
            <li>Full Stack Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
          </ul>
        </div>
      </div>
      <div class="card-container2">
        <span class="pro" onselectstart="return false">PRO</span>
        <img
          class="round"
          src="./image/dp_ujjwal-removebg-preview.png"
          alt="user"
          width="126px"
          height="127px"
        />
        <h3>Ujjwal Raj</h3>
        <h6>Patna</h6>
        <p>
          User interface designer and <br />
          front-end developer
        </p>
        <div class="buttons">
          <a href="https://www.linkedin.com/in/ujjwal-raj-b2545a213">
            <button class="primary2">Hire</button></a
          >
          <button class="primary2 ghost2">Message</button>
        </div>
        <div class="skills" onselectstart="return false">
          <h6>Skills</h6>
          <ul>
            <li>C++</li>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>

    <footer>
      <p>
        The Keyhole- "Peeping into the Infinity" is a licensed website. For
        contributions & collabs contact the Developers
        <a target="_blank" href="mailto:admin@thekeyhole.com">here</a>
        - View Source Code on
        <a target="_blank" href="https://github.com/">GITHUB</a>
      </p>
    </footer>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./javascript/paricle.js"></script>
  </body>
</html>
