<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forget Password- The Keyhole</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="./css/forget_password.css" />
  </head>
  <body>
    <div class="registration-form">
      <form>
        <div class="form-icon">
          <span><i class="icon icon-key"></i></span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="birth-date"
            placeholder="Birth Date"
            onfocus="(this.type='date')"
            onblur="(this.type='text')"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control item"
            id="password"
            placeholder="New Password"
          />
          <i class="far fa-eye" id="togglePassword"></i>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="confirm-password"
            placeholder="Confirm Password"
          />
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-block create-account">
            Reset Password
          </button>
        </div>
      </form>
      <div class="social-media">
        <h5>Still having trouble ? Contact Us via</h5>
        <div class="social-icons">
          <a href="mailto:admin@thekeyhole.com"
            ><i class="icon-envelope" title="mail"></i
          ></a>
          <a href="https://twitter.com"
            ><i class="icon-social-twitter" title="twitter"></i
          ></a>
          <a href="https://instagram.com"
            ><i class="icon-social-instagram" title="instagram"></i
          ></a>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
    ></script>
    <script src="assets/js/script.js"></script>
    <script>
      const togglePassword = document.querySelector("#togglePassword");
      const password = document.querySelector("#password");

      togglePassword.addEventListener("click", function (e) {
        // toggle the type attribute
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the eye slash icon
        this.classList.toggle("fa-eye-slash");
      });
    </script>
  </body>
</html>
