<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./image/logo_icon.png">
    <title>KeyHole</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="./css/forget_password.css" />
    <link rel="stylesheet" href="./css/preloader.css" />
  </head>

  <body>
    <div id="preloader"></div>

    <div class="registration-form">
      <form>
        <div class="form-icon">
          <span><i class="icon icon-key"></i></span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="email"
            placeholder="Enter correct Email address"
          />
        </div>

        <div class="form-group">
          <a href="reset_password">
            <button type="button" class="btn btn-block create-account">
              Request Password Change
            </button></a
          >
        </div>
      </form>
      <div class="social-media">
        <h5>Still having trouble ? Contact Us via</h5>
        <div class="social-icons">
          <a href="mailto:admin@thekeyhole.com"
            ><i class="icon-envelope" title="mail"></i
          ></a>
          <a href="https://twitter.com"
            ><i class="icon-social-twitter" title="twitter"></i
          ></a>
          <a href="https://instagram.com"
            ><i class="icon-social-instagram" title="instagram"></i
          ></a>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
    ></script>
    <script src="assets/js/script.js"></script>
    <script src="./javascript/preloader.js"></script>
  </body>
</html>
