<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyHole</title>
    <link rel="icon" href="./image/logo_icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">


    <!-- login css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="login.css">

    <link rel="stylesheet" href="./css/navig.css">
    <link rel="stylesheet" href="./css/back_design.css">
    <link rel="stylesheet" href="./css/search_anim.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/preloader.css">
</head>

<body>
    <div id="preloader"></div>
    <section id="backg-1">
        <header>
            <nav class="navbar">
                <div>
                    <img src="./image/logo_1.1.png" class="logo_img" alt="logo" width="50px" height="75px">
                    <h1 class="logo">THE KEYHOLE</h1>
                </div>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <ul class="nav_links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#backg-2">Search</a></li>
                    <li><a href="explore">Explore</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="#foot">Contact</a></li>
                    <a href="logout" class="but"><button class="first-button">Logout</button></a>
                </ul>
            </nav>
        </header>

        <!-- back design  -->
        <div class="animated-title">
            <div class="text-top">
                <div>
                    <span>Search Words</span>
                    <span>Save Notes</span>
                </div>
            </div>
            <div class="text-bottom">
                <div>
                    <span>Share Quotes</span>
                    <span>See the Crypto</span>
                </div>
            </div>
        </div>
        <!-- back design ends -->
    </section>
    <!-- Search tab -->
    <section id="backg-2">
        <div id="search_tab">
            <input type="text" class="s-tab" id="input" placeholder="Search...">
            <img src="./image/magnifier.png" alt="Search" height="50px" width="50px" class="s-tab" id="search" type="button">
        </div>
        <div class="data">
            <span class="loading">Loading...</span>
            <p class="def"></p>
            <div class="audio"></div>
            <div class="not_found"></div>
    </div>
    </section>

    <section id="backg-3">
        <footer class="footer_area section_padding_130_0" id="foot">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <div class="container">
                <div class="row">
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer-widget section_padding_0_130">
                            <!-- Footer Logo-->
                            <div class="footer-logo mb-3"></div>
                            <p>The Keyhole is a multi-purpose webpage which helps you to "Peep Into The Infinity"</p>
                            <!-- Copywrite Text-->
                            <div class="copywrite-text mb-5">
                                <p class="mb-0">Support us<i class="lni-heart mr-1"></i>on<a class="ml-1"
                                        href="https://github.com">GitHub</a></p>
                            </div>
                            <!-- Footer Social Area-->
                            <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a
                                    href="#" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Instagram"><i class="fa fa-instagram"></i></a><a href="#"
                                    data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a><a href="#"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Github"><i
                                        class="fa fa-github"></i></a></div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg">
                        <div class="single-footer-widget section_padding_0_130">
                            <!-- Widget Title-->
                            <h5 class="widget-title">About</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about">About Us</a></li>
                                    <li><a href="#">Corporate Sale</a></li>
                                    <li><a href="#">Terms &amp; Policy</a></li>
                                    <li><a href="#">Community</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg">
                        <div class="single-footer-widget section_padding_0_130">
                            <!-- Widget Title-->
                            <h5 class="widget-title">Support</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Term &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-->
                    <div class="col-12 col-sm-6 col-lg">
                        <div class="single-footer-widget section_padding_0_130">
                            <!-- Widget Title-->
                            <h5 class="widget-title">Contact</h5>
                            <!-- Footer Menu-->
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Call Centre</a></li>
                                    <li><a href="#">Email Us</a></li>
                                    <li><a href="#">Term &amp; Conditions</a></li>
                                    <li><a href="#">Help Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

     <!-- popup js  -->
     <!-- <script src="./javascript/popuplogout.js"></script> -->
    <!-- <script src="./javascript/popuplogin.js"></script> -->


     <!-- hamburger js  -->
    <script src="./javascript/hamburger.js"></script>

    <!-- JS for word meaning and API -->
    <script  src="./javascript/meaning.js"> </script>


    <!-- Alert Close Js  -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>

    <script src="./javascript/preloader.js"></script>
</body>

</html>