<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./image/logo_icon.png">
    <link rel="stylesheet" href="./css/qotd.css">
    <link rel="stylesheet" href="./css/preloader.css">
    <title>KeyHole</title>
</head>
<body>
    <div id="preloader"></div>
    
    <button class="back_but" onclick="history.back()">BACK</button>
    <div class="date" onselectstart="return false"></div>
    <div id="particles-js"></div>
    <div class="contain">
        <a class="quote" onselectstart="return false"></a>
        <div class="author"></div>
    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="./javascript/qotd.js"></script>
    <script src="./javascript/preloader.js"></script>

</body>
</html>